html, body {
    //background-color: #8EC5FC;
    //background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    height: 100%;
    width: 100%;
    @include center-flex-column;
    background-color: #607EAA;
}

.card {
    box-shadow: 0 0 5px black;
    height: 90%;
    width: 90%;
    background-color: white;
    border-radius: 25px;
}

.content-info {
    display: flex;
    margin: 0 5%;
    height: 70%;

    .right {
       @include center-flex-column;
       width: 50%;

       p {
        text-align: center;
        margin: 0 40px;
        font-weight: 400;
        font-size: xx-large;
        color: lightcoral;
       }

       .button {
        box-shadow: 0 0 1px black;
        border-radius: 15px;
        width: 40%;
        margin-top: 25%;
        height: 10%;
        font-size: medium;
        background-color: #1C3879;
        color: white;
       }
    }
    .left {
        @include center-flex-column;
        width: 50%;
        .chamber {
            width: 60%;
            border-radius: 20px;
        }
    }
}
