.navbar_menu {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: 120px;
    grid-template-areas: "logo menu_nav burger";
}

.logo {
 grid-area: logo;
}

.menu_nav {
    grid-area: menu_nav;
}

.burger {
 grid-area: burger;
}

.logo {
    @include align_navbar;
   }
   
.menu_nav {
    @include align_navbar;
      
}
.menu_options {
  display: flex;
  align-content: space-between;
  align-items: center;
  gap: 2rem;
  
}
  

.menu_option {
    @include align_navbar;
    
  }

   
  .burger {
    display: grid;
    
  }
  
  .hamburger {
    display: inline-block;
    justify-self: center;
    align-self: center;
  }
  
  
  .hamburger_bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out; 
    background-color: #297F87;
  }
  
  @media(max-width: 920px ){
    .hamburger{
      display: block;
    }
    .hamburger.active .hamburger_bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .hamburger_bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .hamburger_bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .menu_options.active {
      left: 10%;
      height: 30%;
      background-color: $yellow-color;
      color: #297F87;
      opacity: 90%;
    } 
    .menu_options {
        display: flex;
        position: fixed;
        gap: 1rem;
        left: -100%;
        top: 120px;
        flex-direction: column-reverse;
        opacity: 0%;
        width: 30%;
        height: 100px;
        transition: 0.3s;
        border-radius: 0;
        padding: 20px;
        text-align: left;
        
      }

      .menu_options { 
        margin: 90px 0; 
        list-style-type: none; 
            
      }
    
      .menu_link {
        color: #297F87;
        font-size: 1.2rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none; 
        
      }
      
  }
