
<div class="card">
   
 <div class="navbar_menu">
    <div class="logo"><p>Event-App</p></div> 
    <div class="menu_nav">
      <ul class="menu_options">
        <li class="menu_option">
          <a href="#" class="menu_link">Home</a>
        </li>
        <li class="menu_option">
          <a href="#" class="menu_link">About</a>
        </li>
       </ul>
     </div>
    </div>
    <div class="content">
        <div class="right">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
             <%= button_tag "Emezar ya"%>
        </div>
        <div class="left">
            <%= image_tag "mientras.jpeg", class:"chamber"%>
        </div>
    </div>
</div>
