
<div class="card">
   
 <div class="navbar_menu">
    <div class="logo"><p>Event-App</p></div> 
    <div class="menu_nav">
      <ul class="menu_options">
        <li class="menu_option">
          <a href="#" class="menu_link">Home</a>
        </li>
        <li class="menu_option">
          <a href="#" class="menu_link">About</a>
        </li>
        <li class="menu_option">
          <a href="#" class="menu_link">My planned events</a>
        </li>
        <li class="menu_option">
          <a href="#" class="menu_link">Check Invites</a>
        </li>
        <li class="menu_option">
          <a href="#" class="menu_link">Sign Up</a>
        </li>
        <li class="menu_option">
          <a href="#" class="menu_link">Login</a>
        </li>
       </ul>
    </div>  
    <div class="burger">
    <div class="hamburger">
      <span class="hamburger_bar"></span>
      <span class="hamburger_bar"></span>
      <span class="hamburger_bar"></span>                  
    </div> 
  </div> 
  </div> 

    <div class="content-info">
        <div class="right">
            <p>!Empieza ya a organizar, crear y verificar tus eventos... Recuerda que no hay fiesta sin invitados¡</p>
             <%= button_tag "Crea ya mismo tu evento", class: "button"%>
        </div>
        <div class="left">
            <%= image_tag "party.jpeg", class:"chamber"%>
        </div>
    </div>
</div>
